<html>
  <head>
    <title>API Explorer</title>
    <link rel="stylesheet" type="text/css" href="/css/api.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.8.0/dist/alpine.js"
      defer
    ></script>
  </head>

  <header class="shadow header">
    <h1 class="flex text-gray">Personal Library</h1>
  </header>

  <script>

      


    const callAPI = async (event, display, hasBody) => {
      const form = event.target.form;
      const action = form.action;
      const method = form.dataset.method;
      const book_id = form.elements[0].getAttribute("data-ispath")
        ? form.elements[0].value
        : "";
      const isComment = form.getAttribute("data-isComment") ? "/comments" : "";

      const body = hasBody
        ? new URLSearchParams([...new FormData(form)])
        : null;

      try {
        const response = await fetch(`${action}${book_id}${isComment}`, {
          method: method,
          body: body,
        });

        if (response.status !== 200) {
          let errorText = "";

          switch (response.status) {
            case 404:
              errorText = "Resource not found. [404]";
              break;
            case 422:
              errorText = JSON.stringify(await response.json(), "", 3);
              break;
            default:
              errorText = "Sorry unknown server error. [500]";
          }

          document.getElementById(display).innerText = errorText;
          return;
        }
        const data = await response.json();
        document.getElementById(display).innerText = JSON.stringify(
          data,
          "",
          2
        );
        console.log(data);
      } catch (error) {
        console.log("error", error);
      }
    };
  </script>
</html>
